<!DOCTYPE html>
<html lang="en">
<p>Add pages to genre</p>
    <form method="post" action="{% url 'result' %}">
    {% csrf_token %}
    {% autoescape off %}{{ form }}{% endautoescape %}
    <input type="submit" value="Submit" />
</form>
</html>

{#<form action="/chooseCar">#}
{#    <input type="submit" value="Choose car" />#}
{#</form>#}
{##}
{#<form action="/addCar">#}
{#    <input type="submit" value="Add new car" />#}
{#</form>#}
{##}
{#<form action="{% url 'show' %}">#}
{#    <input type="submit" value="Show database" />#}
{#</form>#}
{##}
{#<a href="{% url 'show' %}">Show database</a>#}
